{
    "openapi": "3.0.3",
    "info": {
        "title": "RAG Endpoint on Watson Machine Learning",
        "description": "Using OpenAPI v3.0.3 for integration.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "description": "Watson Machine Learning deployment URL",
            "url": "https://us-south.ml.cloud.ibm.com"
        }
    ],
    "security": [
        {
            "oAuth2": []
        }
    ],
    "paths": {
        "/ml/v4/deployments/{wml_deployment_id}/predictions": {
            "post": {
                "summary": "Get the predictions",
                "operationId": "predictions_post",
                "parameters": [
                    {
                        "in": "path",
                        "name": "wml_deployment_id",
                        "schema": {
                            "type": "string",
                            "default": ""
                        },
                        "required": true,
                        "description": "The ID of the Watson Machine Learning deployment"
                    },
                    {
                        "in": "query",
                        "name": "version",
                        "schema": {
                            "type": "string",
                            "default": "2021-05-01"
                        },
                        "required": true,
                        "description": "Version number as a string"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Predictions_post_request"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Predictions_post_response"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "oAuth2": {
                "type": "oauth2",
                "description": "See https://cloud.ibm.com/docs/account?topic=account-iamoverview",
                "flows": {
                    "x-apikey": {
                        "tokenUrl": "https://iam.cloud.ibm.com/identity/token",
                        "grantType": "urn:ibm:params:oauth:grant-type:apikey",
                        "secretKeys": [
                            "apikey"
                        ],
                        "paramKeys": [],
                        "scopes": {}
                    }
                }
            }
        },
        "schemas": {
            "Predictions_post_request": {
                "type": "object",
                "required": [
                    "input_data"
                ],
                "properties": {
                    "input_data": {
                        "type": "array",
                        "required": [
                            "fields",
                            "values"
                        ],
                        "items": {
                            "type": "object",
                            "properties": {
                                "fields": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "values": {
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Predictions_post_response": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "integer"
                    },
                    "body": {
                        "type": "object",
                        "properties": {
                            "evaluations": {
                                "type": "object"
                            },
                            "predictions": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "llm_response": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "references": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "class_name": {
                                            "type": "string"
                                        },
                                        "end_char_idx": {
                                            "type": "integer"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "properties": {
                                                "file_name": {
                                                    "type": "string"
                                                },
                                                "filename": {
                                                    "type": "string"
                                                },
                                                "page_label": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "score": {
                                            "type": "number"
                                        },
                                        "start_char_idx": {
                                            "type": "integer"
                                        },
                                        "text": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}