{
    "openapi": "3.0.3",
    "info": {
      "title": "RAG Endpoint on Watson Machine Learning",
      "description": "Using OpenAPI v3.0.3 for integration.",
      "version": "1.0.0"
    },
    "servers": [
      {
        "description": "Watson Machine Learning deployment URL",
        "url": "https://us-south.ml.cloud.ibm.com"
      }
    ],
    "security": [
      {
        "oAuth2": []
      }
    ], 
    "paths": {
      "/ml/v1/deployments/{wml_deployment_id}/text/generation?version=2021-05-01": {
        "post": {
          "summary": "Get the predictions",
          "operationId": "predictions_post",
          "parameters": [
            {
              "in": "path",
              "name": "wml_deployment_id",
              "schema": {
                "type": "string",
                "default": ""
              },
              "required": true,
              "description": "The ID of the Watson Machine Learning deployment"
            },
            {
              "in": "query",
              "name": "version",
              "schema": {
                  "type": "string",
                  "default": "2021-05-01"
              },
              "required": true,
              "description": "Version number as a string"
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Predictions_post_request"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Successful Response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Predictions_post_response"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "oAuth2": {
          "type": "oauth2",
          "description": "See https://cloud.ibm.com/docs/account?topic=account-iamoverview",
          "flows": {
            "x-apikey": {
              "tokenUrl": "https://iam.cloud.ibm.com/identity/token",
              "grantType": "urn:ibm:params:oauth:grant-type:apikey",
              "secretKeys": [
                "apikey"
              ],
              "paramKeys": [],
              "scopes": {}
            }
          }
        }
      },
      "schemas": {
        "Predictions_post_request": {
          "type": "object",
          "required": ["parameters"],
          "properties": {
            "parameters": {
              "type": "object",
              "required": ["prompt_variables"],
              "properties": {
                "prompt_variables": {
                  "type": "object",
                  "required": ["query_text"],
                  "properties": {
                    "query_text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "Predictions_post_response": {
          "type": "object",
          "required": ["generated_text", "generated_token_count", "input_token_count", "stop_reason"],
          "properties": {
            "generated_text": {
              "type": "string"
            },
            "generated_token_count": {
              "type": "integer"
            },
            "input_token_count": {
              "type": "integer"
            },
            "stop_reason": {
              "type": "string"
            }
          }
        }
      }
    }
  }